@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-Gilda: "Gilda Display", serif;
  --font-Inter: "Inter", sans-serif;
}

/* Custom CSS Here */

.active {
  color: #d62928;
}

.menu {
  :where(
      li:not(.menu-title, .disabled)
        > *:not(ul, details, .menu-title):not(
          .menu-active,
          :active,
          .btn
        ):hover,
      li:not(.menu-title, .disabled)
        > details
        > summary:not(.menu-title):not(.menu-active, :active, .btn):hover
    ) {
    /* cursor: pointer; */
    background-color: transparent;
    color: #d62928;
  }
}

.menu {
  & :where(li) {
    & > :not(ul, .menu-title, details, .btn):active,
    & > :not(ul, .menu-title, details, .btn).menu-active,
    & > details > summary:active {
      color: black;
      background-color: transparent;
    }
  }
}
